.t_ftr{ font-size:.8em; margin: 0;}

.rodape{text-align: center; background-color: #d2eef1;}

.btn1{margin: auto; margin-left: 20%; margin-top: 20%; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}

.user{font-family: 'Poppins', sans-serif; font-size: 20px;}

.img{text-align: center; margin: 5% auto;}

.form{background-color: #e2e1e1; padding: 15% 4%; margin: 10% auto;}

.img{text-align: center; margin: 5% auto;}

.im{background-color: #fff;}

.cli{background-color: #d2eef1;}

.home{background-color: #eee; padding: 2% 2% 5% 2%;}

.bts{margin-top: 2%;}

.seta{text-align: right;}

.qtd{font-size: .8em; }

.qtd_{font-size: .8em; background-color: #a50101;}

.dez{font-weight: bold;}

.log{padding: 5% 10%}

.dn{text-align: center;}

.c{color: #FFF; background-color: #2196f3; text-align: center;}